In [2]:
# Introduction to list datatype :
# defination: A list is a collection of items declared in a particular order.
    # classification: It is a classified as a mutable datatype.
       # how to define/declare a list......? ====> []

In [3]:
students=['naveen','abdul','imran','joseph','keerthi','shaheen','dolly','navya']

In [4]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [5]:
type(students)

list

In [6]:
# Introduction to indexing  0,1,2,3,4,.....!

In [7]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [8]:
print(students[4])

keerthi

In [9]:
# 1. how to add new elements to the list
# 2. how to modify the lements in the list 
# how to delete the elements from the above list ....?

In [10]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [11]:
# req: I want to add 'kumar' name to the above list....?

In [15]:
students.append('kumar')

In [16]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [17]:
# so 'kumar' name has added at last on the list

In [18]:
# req: I want to add 'sana' name to the above list....?

In [19]:
students.append('sana')

In [20]:
print(students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [21]:
# 'sana' name has been added at the last of the list

In [22]:
# req: I wat to add 'yamini' name to the above list at the 2nd position...?

In [23]:
students.insert(2,'yamini')

In [24]:
print(students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [25]:
# so 'yamini' name has added at the second (2nd) position in the list... it reads as 0, 1, 2, ..... so at 2nd position available

In [26]:
# to check at which position the name available

In [27]:
print(students[2])

yamini

In [28]:
# so at 2nd position the yamini name is present

In [29]:
# Interview question: What is the difference between 'append' and 'insert' method in the list....???*****
# append = this command is to add the name to the list. *****
# insert = this command is to add the name at specific position in the list.*****

In [30]:
# req: I want to modify or replace 'naveen' name to 'navya'...?

In [31]:
print(students[0])

naveen

In [32]:
students[0]='navya'

In [33]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [34]:
# name 'navya' has added at the first (means at '0') position

In [35]:
# req: If i want to delete joseph from the above list...?

In [36]:
del students[4]     # permanently deleting the things

In [37]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [38]:
# temp deletion ***

In [39]:
# pop ====> It is used to delete the things temp.
# It will be carbon copy of the deleted items and stores in a variable assigned to it.

In [40]:
# pop ====> by default will be deleting the last element in the list.

In [41]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [43]:
# x=students.pop()

In [44]:
print(students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'sana']

In [45]:
print(x)

NameError: name 'x' is not defined